@media screen and (min-width: 320px) {
  .map-virus-container {
    //
    .active-map-container {
      margin: 10px 0;
      width: 100vw;
      height: 220px;
      background: #fff;
      .mapBox {
        width: 100%;
        height: 100%;
      }

      /* Tooltip code */
      .mapboxgl-popup {
        font-family: "Baloo Thambi 2", cursive;
        font-size: 8px;
        padding: 0;
        margin: 0;
        color: #424242;
      }

      .mapboxgl-popup-content {
        padding: 1rem;
        margin: 0;
      }
    }
    .global-cases-container {
      text-align: center;
      height: 130px;
      width: 100vw;
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(3, 1fr);
      background: #fff;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      .global-cases_description {
        font-weight: lighter;
        font-size: 15;
        text-transform: capitalize;
        align-self: end;
        grid-row-start: 1;
        grid-row-end: 2;
        z-index: 2;
      }
      .global-cases_counter {
        font-size: 20px;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-bottom: 20px;
        z-index: 2;
      }
      .welcome-virus-svg {
        width: 28px;
        position: fixed;
        z-index: 1;
        &:nth-of-type(1) {
          width: 34px;
          margin-left: 45px;
          margin-top: 5px;
          transform: rotate(115deg);
        }
        &:nth-of-type(2) {
          width: 16px;
          margin-left: 185px;
          margin-top: 75px;
        }
        &:nth-of-type(3) {
          width: 56px;
          margin-left: 285px;
          margin-top: 4px;
          transform: rotate(35deg);
        }
        &:nth-of-type(4) {
          width: 66px;
          margin-left: 15px;
          margin-top: 70px;
          transform: rotate(64deg);
        }
        &:nth-of-type(5) {
          width: 34px;
          margin-left: 200px;
          margin-top: 24px;
          transform: rotate(45deg);
        }
        &:nth-of-type(6) {
          margin-left: 15px;
          margin-top: 6px;
          transform: rotate(45deg);
        }
      }
    }
    .map-buttons-container {
      display: flex;
      width: 90vw;
      margin: 20px auto 10px auto;
      text-align: center;
      line-height: 35px;
      color: #fff;
      text-transform: capitalize;
      font-weight: 300;
      font-size: 16px;
      margin-right: 15px;
      align-content: center;

      .active-map-button {
        width: 80px;
        height: 35px;
        border-radius: 5px;
        background: #21abab;
        box-shadow: 1px 2px 0px rgba(172, 162, 161, 0.25);
        margin-right: 15px;
      }
      .input-map-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 80px;
        height: 35px;
        border: 2px solid #21abab;
        margin-right: 70px;
        input {
          width: inherit;
          height: inherit;
          background: none;
          outline: none;
          border: none;
          text-align: center;
          font-size: 16px;
          color: #46407c;
        }
      }
      .chart-button-container {
        color: #46407c;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
      }
    }
    .map-navigation {
      display: flex;
      justify-content: space-between;
      width: 90vw;
      height: 32px;
      border-radius: 6px;
      background: #fff;
      margin: 0 auto;
      .map-navigation-button {
        line-height: 32px;
        text-transform: capitalize;
        margin: 0 10px;
        .fas {
          margin-right: 5px;
        }
      }
    }
  }
}
