@media screen and (min-width: 320px) {
  .map-virus-container {
    .active-map-container {
      margin: 10px 0;
      width: 100vw;
      height: 220px;
      background: #fff;
    }
    .global-cases-container {
      text-align: center;
      height: 130px;
      width: 100vw;
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(3, 1fr);
      background: #fff;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      .global-cases_description {
        font-weight: lighter;
        font-size: 15;
        text-transform: capitalize;
        align-self: end;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      .global-cases_counter {
        font-size: 20px;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-bottom: 20px;
      }
    }
    .map-buttons-container {
      display: flex;
      width: 90vw;
      margin: 20px auto 10px auto;
      text-align: center;
      line-height: 35px;
      color: #fff;
      text-transform: capitalize;
      font-weight: 300;
      font-size: 16px;
      margin-right: 15px;
      align-content: center;

      .active-map-button {
        width: 80px;
        height: 35px;
        border-radius: 5px;
        background: #21abab;
        box-shadow: 1px 2px 0px rgba(172, 162, 161, 0.25);
        margin-right: 15px;
      }
      .input-map-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 80px;
        height: 35px;
        color: #46407c;
        border: 2px solid #21abab;
      }
    }
    .map-navigation {
      display: flex;
      justify-content: space-between;
      width: 90vw;
      height: 32px;
      border-radius: 6px;
      background: #fff;
      margin: 0 auto;
      .map-navigation-button {
        line-height: 32px;
        text-transform: capitalize;
        margin: 0 10px;
        .fas {
          margin-right: 5px;
        }
      }
    }
  }
}
