@media screen and (min-width: 320px) {
  .navbar-container {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100vw;
    background: #d6d3fc;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-transform: capitalize;
    z-index: 2;

    .navbar-links {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      font-size: 22px;
      line-height: 22px;
      align-items: center;
      height: 100%;
      width: 100%;

      .navbar-route {
        text-decoration: none;
        list-style: none;

        .navbar-section-container {
          color: #46407c;
          text-align: center;
        }

        // hide unactive names
        .navbar-section-name {
          display: none;
          font-size: 12px;
        }
      }

      // when button is active show name of route
      .navbar-route-clicked {
        height: 130%;

        .navbar-section-container {
          display: grid;

          i::before {
            background: #d6d3fc;
            border: 15px solid #d6d3fc;
            border-radius: 50%;
          }

          .navbar-section-name {
            display: unset;
          }
        }
      }
    }
  }
}
